{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>News Articles</h1>
<div class="row">
{% for article in articles %}
    <div class="col-md-4">
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text">{{ article.summary }}</p>
                <p class="card-text">{{ article.content | safe }}</p>
                <a
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}